<?xml version="1.0"?>
<config>
    <modules>
        <Usersnap_Bugtracker>
            <version>1.0.0</version>
        </Usersnap_Bugtracker>
    </modules>
    <global>
        <helpers>
            <bugtracker>
                <class>Usersnap_Bugtracker_Helper</class>
            </bugtracker>
        </helpers>
        <models>
            <bugtracker>
                <class>Usersnap_Bugtracker_Model</class>
            </bugtracker>
        </models>
        <blocks>
            <bugtracker>
                <class>Usersnap_Bugtracker_Block</class>
            </bugtracker>
        </blocks>
        <events>
            <usersnap_debug_info>
                <observers>
                    <usersnap_debug_add_version_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addVersionInfo</method>
                    </usersnap_debug_add_version_info>
                    <usersnap_debug_add_store_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addStoreInfo</method>
                    </usersnap_debug_add_store_info>
                    <usersnap_debug_add_controller_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addControllerInfo</method>
                    </usersnap_debug_add_controller_info>
                    <usersnap_debug_add_cookie_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addCookieInfo</method>
                    </usersnap_debug_add_cookie_info>
                    <usersnap_debug_add_layout_handle_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addLayoutHandleInfo</method>
                    </usersnap_debug_add_layout_handle_info>
                    <usersnap_debug_add_design_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addDesignInfo</method>
                    </usersnap_debug_add_design_info>
                    <usersnap_debug_add_customer_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addCustomerInfo</method>
                    </usersnap_debug_add_customer_info>
                    <usersnap_debug_add_quote_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_quote</class>
                        <method>addQuoteInfo</method>
                    </usersnap_debug_add_quote_info>
                    <usersnap_debug_add_wishlist_info>
                        <type>singleton</type>
                        <class>bugtracker/observer_wishlist</class>
                        <method>addWishlistInfo</method>
                    </usersnap_debug_add_wishlist_info>
                    <usersnap_debug_add_session_info>
                        <type>disabled</type>
                        <class>bugtracker/observer_debug</class>
                        <method>addSessionInfo</method>
                    </usersnap_debug_add_session_info>
                </observers>
            </usersnap_debug_info>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <bugtracker>
                    <file>bugtracker.xml</file>
                </bugtracker>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <bugtracker>
                    <file>bugtracker.xml</file>
                </bugtracker>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <usersnap>
                            <title>Usersnap Bugtracker</title>
                            <sort_order>10</sort_order>
                        </usersnap>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <usersnap>Usersnap Bugtracker</usersnap>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <usersnap>
            <options>
                <enable>1</enable>
                <show_email>opt</show_email>
                <hide_tour>0</hide_tour>
            </options>
            <display>
                <show_button>1</show_button>
                <button_text>Feedback</button_text>
                <enable_shortcut>1</enable_shortcut>
                <show_email>1</show_email>
                <email_replace>1</email_replace>
                <show_comment>req</show_comment>
                <valign>bottom</valign>
                <halign>right</halign>
                <language>default</language>
            </display>
            <debug>
                <enable>1</enable>
            </debug>
        </usersnap>
    </default>
</config> 